:root {
  --font-heading: Montserrat;
  --font-body: Hind Vadodara;

  --font-xs: 0.8rem;
  --font-sm: 1.6rem;
  --font-reg: 2rem
  --font-md: 2.4rem;
  --font-lg: 3.2rem;
  --font-xl: 5.6rem;

  --font-weight-reg: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  --dark: rgb(30, 30, 30);
  --dark-75: rgb(30, 30, 30, 0.75);
  --primary: rgb(35, 64, 67);
  --primary-75: rgb(35, 64, 67, 0.75);
  --primary-50: rgb(35, 64, 67, 0.5);
  --primary-25: rgb(35, 64, 67, 0.25);
  --secondary: rgb(197, 166, 109);
  --error: rgb(158, 25, 70);
  --light: rgb(255, 255, 255);

  --spacing-2xs: 0.8rem;
  --spacing-xs: 1.6rem;
  --spacing-sm: 2.4rem;
  --spacing-md: 4.8rem;
  --spacing-lg: 5.6rem;
  --spacing-xl: 9.6rem;
  --spacing-2xl: 12.8rem;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
